#maincontainer #searchtitle
{
    margin:0 auto;
    text-align:center;
}
#maincontainer #searchtitle h2
{
    color:#009900;
    font-size:18px;
    padding-top:15px;
}
#maincontainer #searchcontainer
{
    background-color: #F2F2F2;
    border: 1px solid #E2E2E2;
    height: 311px;
    margin-bottom: 10px;
    padding: 15px 0;
    width: 980px;
}

#maincontainer #searchcontainer #searchcontent
{
    background-color: #FFFFFF;
    height: 250px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 40px 40px 40px;
}

#maincontainer #searchcontainer #searchcontent p
{
    margin-bottom:7px;
    width:980px;
}
#maincontainer #searchcontainer #searchcontent p span
{
    float:left;
    width:260px;
    text-align:right;
    font-size:14px;
    
}

#maincontainer #searchcontainer #searchcontent p input
{
    height: 16px;
    padding: 4px 3px;
    width: 240px;
    border:1px solid #BBBBBB;
    margin-left:20px;
    margin-top:-5px;
   
}

#maincontainer #searchcontainer #searchcontent .btnpos
{
    margin-left:70px;
}

#maincontainer #searchcontainer #searchcontent .text2
{
    float:left;
    width:60px;
}

#maincontainer #searchcontainer #searchcontent .label2
{
    width:30px;
    float:left;
}

