	#newslide {
		width: 680px;
		position: relative;
		margin: 0 auto;
	}
	
	#carousel {
		width: 735px;
		position: vrelative;
	}
	
	#carousel ul {
		list-style: none;
		display: block;
		margin: 0;
		padding: 0;
	}
	
	#carousel li {
		font-size: 40px;
		color: #999;
		text-align: center;
		display: block;
		width: 132px;
		height: 148px;
		padding: 0;
		margin: 2px;
		float: left;
		position: relative;
	}
	
	#carousel li img {
		width: 120px;
		height: 107px;
		margin-top: 14px;
		margin-left: -8px;
	}
	
	.clearfix {
		float: none;
		clear: both;
	}
	
	#carousel .prev,
	#carousel .next {
		background: url(images/miscellaneous_sprite.png) no-repeat transparent;
		width: 45px;
		height: 50px;
		display: block;
		position: absolute;
		top: 50px;
	}
	
	#carousel .prev {
		background-position: 0 0;
		left: -30px;
	}
	
	#carousel .prev:hover {
		left: -31px;
		background-position: 0 -50px;
	}
	
	#carousel .next {
		background-position: -50px 0;
		right: -30px;
	}
	
	#carousel .next:hover {
		right: -21px;
		background-position: -50px -50px;
	}